body {
  font-family: "Heebo", sans-serif;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.workingspace {
  margin-top: 120px;
  text-align: left;
}

.workingspace h3 {
  font-size: 52px;
  font-weight: 200;
  margin-top: 30px;
}

.workingspace h3 span {
  font-weight: 500;
}
