body {
  font-family: "Heebo", sans-serif;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.workingspace {
  margin-top: 120px;
  text-align: left;
}

.workingspace h3 {
  font-size: 52px;
  font-weight: 200;
  margin-top: 30px;
}

.workingspace h3 span {
  font-weight: 500;
  color: blueviolet;
}

.workingspace .tombol {
  border-radius: 25px 25px;
  background-color: blueviolet;
  color: #fff;
}

.workingspace .tombol:hover {
  background-color: #ffd639;
  color: #fff;
}
